<div class="col-12 col-lg-4">
    <div class="card features text-center wow slideInUp">
        <div class="card-body">
            <div class="feature">
                <div class="feature-body">
                    <div class="icon">
                    	<img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
					     alt="{{ content.field_image['#items'].alt }}" 
					     title="{{ content.field_image['#items'].title }}">
                    </div>
                    <h4 class="card-title">{{content.field_title.0}}</h4>
                    <p class="card-text">{{content.field_description.0}}</p>
                </div>
            </div>
        </div>
    </div>
</div>