<div class="section light-bg" id="about-app">
    <div class="container">
        <div class="row">                              
            <div class="col-12 col-lg-8 mx-auto text-center">                  
                <div class="about-app">                    
                    <h3 class="wow slideInUp">{{content.field_title.0}}</h3>
                    <p class="wow slideInUp">{{content.field_description.0}}</p>
                </div>
                <div class="row">
                    {{content.field_app_detail}}
                </div>                    
                <div class="contact">
                    <a href="{{content.field_link.0["#url"]}}" class="btn btn-light wow slideInUp">{{content.field_link.0["#title"]}}</a>
                </div>
            </div>             
        </div>
    </div>
</div>